---
import Base from "~/layouts/Base.astro";

---

<Base>
<div class="flex flex-col justify-center w-full sm:w-[90%] md:w-[80%] lg:w-[70%] mx-auto gap-5 py-5 px-2 markdown">
    <h3 class=" underline text-2xl sm:text-4xl text-white">CiviCraft Developer Academy</h3>
    <p class=" text-white">
        The CiviCraft Developer Academy is launching in 2025, offering a free, open-source, project-based learning experience for aspiring Minecraft developers. We're working hard to release, so keep an eye on this page!
    </p>
    <h3 class="text-center  underline text-4xl text-white">What You Will Learn</h3>
    <div class="flex items-center justify-center">
        <ul>
            <li>Object-Oriented Programming Concepts</li>
            <li>Java and Kotlin Programming</li>
            <li>3D Modeling and Animation for Minecraft</li>
            <li>GUI Design and Development</li>
            <li>Discord Bot Creation and Integration</li>
            <li>Virtual Community Management</li>
            <li>Content Creation and Development</li>
            <li>Version Control with Git</li>
            <li>Optimization and Security</li>
            <li>Ethical Coding Practices</li>
            <li>AND MORE!</li>
        </ul>
    </div>
    <a href="https://github.com/CiviCraft-Development/civicraft-dev-acad" target="_blank" class="self-center py-2 px-5 my-5 button text-shadow-lg text-2xl">View on GitHub</a>
</div>
</Base>
